/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
.App {
  font-family: "Poppins";
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: rgb(150, 213, 231);
  font-weight: 700;
}

header a {
  color: #333;
  text-decoration: none;
}

header a:hover {
  color : white
}

.nav-left ul, .nav-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-left > ul, .nav-right > ul {
  display: flex;
}

.nav-left > ul > li, .nav-right > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 22px;
}

.nav-left, .nav-right {
  display: inline-block;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.home .announcement-create-button {
  max-width: 800px;
  width: 100%;
  padding: 12px;
}

.home .announcement-update-button {
  position: relative;
  left: 83%;
  top: 30px;
}

.announcement-details {
  max-width: 1000px;
  margin-top: 20px;
  border: solid;
}

.announcement-header {
  padding: 20px;
  background-color: rgb(144, 196, 219);
}

.announcement-header .title {
  width: 50%;
  display: inline-block;
}

.announcement-header .time {
  width: 50%;
  display: inline-block;
  text-align: right;
}

.announcement-content {
  text-align: justify;
  padding: 16px;
}

.announcement-details .delete-button {
  position: relative;
  margin-top: 20px;
  left: 90%;
  bottom: 20px;
}

.create input{
  width: 100%;
  margin-top: 2px;
  margin-bottom: 20px;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

textarea {
  width: 465px;
  text-align: justify;
}

.keterangan, 
.nilai,
.absensi,
.status-pay {
  border: 1px solid;
}

.keterangan h2, 
.nilai h2,
.absensi h2,
.status-pay h2 {
  padding: 20px;
}

.keterangan .content .titles, 
.nilai .content .titles,
.absensi .content .titles,
.status-pay .content .titles {
  display: flex;
  justify-content: space-around;
}

.keterangan-table, 
.nilai-table,
.absensi-table,
.status-pay-table {
  display: flex;
  padding: 6px;
  border: 1px solid;
}

.keterangan-table .num,
.nilai-table .num,
.absensi-table .num,
.status-pay-table .num {
  margin-left: 14%;
}

.keterangan-table .name,
.nilai-table .name,
.absensi-table .name,
.status-pay-table .name {
  margin-left: 25%;
}

.keterangan-table .action,
.nilai-table .action,
.absensi-table .action,
.status-pay-table .action {
  position: absolute;
  right: 21%;
}

.status-pay-save {
  margin-top: 20px;
  margin-left: 45%;
}

.keterangan-edit-button {
  margin-left: 10px;
}

.nilai-edit-button {
  margin-left: 10px;
}